@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

.heading-primary {
  color: var(--neutral-color);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 28px;
  line-height: 1.3;
}

.heading-primary--light {
  font-weight: 300;
}

.heading-primary--sub {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--dark-color);
}
